<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tgkt.togaform.mapper.QuesnaireMapper">
  <resultMap id="BaseResultMap" type="tgkt.togaform.entity.Quesnaire">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="survey_type" jdbcType="INTEGER" property="surveyType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="project" jdbcType="VARCHAR" property="project" />
  </resultMap>
  <delete id="deleteById" parameterType="java.lang.String">
    delete from questionnaire
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="tgkt.togaform.entity.Quesnaire" useGeneratedKeys="true">
      insert into questionnaire
          (title, survey_type, description, project)
      values (#{title,jdbcType=VARCHAR}, #{surveyType,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
              #{project,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="tgkt.togaform.entity.Quesnaire">
    update questionnaire
    set title = #{title,jdbcType=VARCHAR},
      survey_type = #{surveyType,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from questionnaire
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByProject" resultMap="BaseResultMap">
      select *
      from questionnaire
      where project=#{project}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from questionnaire
  </select>
</mapper>